---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Article from "~/components/Article.astro";
//eliminar
import Hero from "~/components/Hero.astro";
import { Picture } from "astro:assets";
import Badge from "~/components/Badge.astro";
// import Button from "~/components/Button.astro";
// import ButtonCallUs from "~/components/ButtonCallUs.astro";

// Images
import AboutUsHeader from "~/assets/img/aboutUs-header.jpg";
---

<Layout>
  <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
        <h1 class="font-black">
          God-given talents, given back to Him through service
        </h1>

        <p>
          Connecting tech and media talents with ministry impact, empowering
          nonprofits to accelerate positive change globally. Partnering with
          nonprofit ministries around the world to provide general tech,
          web-development, photography, and media support.
        </p>

		<Badge title="#MissionaryTechSupport" />

      </div>
      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src={AboutUsHeader}
          height={600}
          formats={["avif", "webp"]}
          alt="A description of my image."
          loading={"eager"}
          fetchpriority={"high"}
          style={{
            border: "2px solid white",
            borderRadius: "10px"
          }}
        />
      </div>
    </Hero>
  </Section>

  <Section class:list={"bg-white"}>
    <Article>
      <h2>Our Story</h2>
      <p>
        Our team is made up of a husband and wife duo, called to serve the Lord
        by serving His people. We believe that the Lord will use our skills to
        empower His ministries around the world.
      </p>
      <p>
        Allan, a Nicaraguan native, studied Computer Sciences at the University
        of Managua, going on to co-create WebNica, a company dedicated to
        support companies throughout the Americas with web development. He also
        served as the Head of Technology for a Christian nonprofit called
        Tesoros de Dios, God’s Treasures where he created websites, managed
        online fundraising campaigns, hosted webinars, and taught teenagers with
        disabilities computer skills.
      </p>
      <p>
        Kaley has a background in missions, photojournalism, and non-profit
        development. She traveled through Central America, Eastern Europe, and
        South Africa as part of a one year missionary program, serving as the
        photojournalist for the organization. She is passionate about creating
        content for ministries to send to supporters, bringing stories to life
        to spark passion in readers, and telling the Church of all the Lord is
        doing globally as an encouragement that He is still on the move as He
        was in Biblical days.
      </p>
      <p>
        We met while serving neighboring nonprofits in Managua, Nicaragua and
        have been serving together ever since. We are passionate about bringing
        encouragement and teachable skills to ministries around the world. Our
        goal is to use our gifts to help bring about a lasting change on a
        global level, all for the glory of God.
      </p>
    </Article>
  </Section>
</Layout>
