---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import Tailblock from "~/components/Tailblock.astro";
import Article from "~/components/Article.astro"

// import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
  <!-- <Section>
    <Heading>
      <h1 slot="heading-title" class="font-black text-brand-green h2">
        Get Involved
      </h1>
      <p slot="heading-content" class="text-pretty">
        If you would like to get involved with what Missionary Tech Support is
        doing, here are three ways to support:
      </p>
    </Heading>
    <FormBook /> 
  </Section> -->

<Tailblock/>
  <Section>
    <Article>
      <h3>Join Us</h3>
        <p>
          We invite you to be part of this exciting journey of faith and service. Together, we can empower ministries, amplify their stories, and share the incredible work God is doing around the world. Whether through prayer, collaboration, or support, your involvement helps extend the reach of technology and creativity to those serving on the frontlines. Join us as we use our gifts to make a lasting impact — for His glory and the growth of His Kingdom.
        </p>
    </Article>
  </Section>
</Layout>
