---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
//import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black h1">Host Information</h1>
			<p slot="heading-content">
				Host information refers to the organization that will accommodate our team during the project. It includes details about their mission, staff, and current technological infrastructure. Understanding this information allows us to identify their needs in IT support and multimedia, ensuring our assistance aligns with their goals. This collaboration aims to strengthen their operations through effective and sustainable technology solutions.
			</p>
		</Heading>

		<!-- <MenuList /> -->
	</Section>
</Layout>
