---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Tailblock from "~/components/Tailblock.astro";
import Article from "~/components/Article.astro"

// import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
  <Section class:list={"container py-1 lg:py-1"} contain={false}> 
    <Tailblock/>
  </Section>

  <Section class:list={"container py-1 lg:py-1"} contain={false}>
    <Article>
      <h3>Join Us</h3>
        <p>
          We invite you to be part of this exciting journey of faith and service. Together, we can empower ministries, amplify their stories, and share the incredible work God is doing around the world. Whether through prayer, collaboration, or support, your involvement helps extend the reach of technology and creativity to those serving on the frontlines. Join us as we use our gifts to make a lasting impact — for His glory and the growth of His Kingdom.
        </p>
    </Article>
  </Section>
</Layout>
