---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Newsletter from "~/components/Newsletter.astro";
---

<Layout
  title="Requirements"
  pageTitle="Requirements"
  description="This page contains a form to learn more about the requirements for your future project"
>
  <Section class:list={"bg-white"}>
    <section class="max-w-5xl mx-auto w-full">
      <div slot="hero-content-left" class="prose max-w-max max-lg:order-1 mb-8">
        <h1 class="font-black">Requirements</h1>
        <p>
          We would like to know what you need for your project. Please complete
          the following form and we will get in touch with you as soon as
          possible. We look forward to hearing from you.
        </p>
      </div>

      <!-- formulario -->
      <form action="#">
        <div class="flex flex-col gap-8 mx-auto max-w-md">

          <fieldset>
            <legend>Information about the Organization</legend>

            <div>
              <label for="organization">Organization Name</label>
              <div class="mt-2 grid grid-cols-1">
                <input
                  type="text"
                  name="organization"
                  id="organization"
                  placeholder="Missionary Tech Support"
                  required
                />
              </div>
            </div>

            <div>
              <label for="name">Name Contact</label>
              <div class="mt-2 grid grid-cols-1">
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Jhon Doe"
                  required
                />
              </div>
            </div>

            <div>
              <label for="email">Email</label>
              <div class="mt-2 grid grid-cols-1">
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@gmail.com"
                  required
                />
              </div>
            </div>

            <div>
              <label for="phone">Phone</label>
              <div class="mt-2 flex flex-col">
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  placeholder="+0 000 000 000"
                  required
                />
              </div>
            </div>

            <div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="whatsapp" id="whatsapp" required />
                <label for="phone" class="!inline-block pl-5">WhatsApp is Available</label>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Website</legend>
            <div>
              <label for="needhelp">Do you need help with your website?</label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="needhelp"
                  id="needhelp"
                  required
                >
                  <option value="">choose an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="I dont know">I don't Know</option>
                </select>
              </div>
            </div>

            <div>
              <label for="typehelp">What kind of help do you need?</label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="typehelp"
                  id="typehelp"
                  required
                >
                  <option value="">choose an option</option>
                  <option value="build">Build</option>
                  <option value="rebuild">Rebuild</option>
                  <option value="update">Update</option>
                </select>
              </div>
            </div>

            <div>
              <label for="hasdomain">Do you have a domain already?</label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="hasdomain"
                  id="hasdomain"
                  required
                >
                  <option value="">choose an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="i dont know">I don't know</option>
                </select>
              </div>
            </div>

            <div>
              <label for="hashost">Do you have a host?</label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="hashost"
                  id="hashost"
                  required
                >
                  <option value="">choose an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="i dont know">I don't know</option>
                </select>
              </div>
            </div>

            <div>
              <label for="stock"
                >Do you have photos to add or do you prefer stock photos?</label
              >
              <div class="mt-2">
                <input type="text" name="stock" id="stock" required />
              </div>
            </div>

            <div>
              <label for="logo"
                >If you have logo already, please upload here:</label
              >
              <div class="mt-2">
                <input type="file" name="logo" id="logo" required />
              </div>
            </div>

            <div>
              <label for="typography"
                >If you have typography already, share here:</label
              >
              <div class="mt-2">
                <textarea
                  name="typography"
                  id="typography"
                  rows="4"
                  required
                  placeholder="Share the URLs of the fonts you use in your brand."
                ></textarea>
              </div>
            </div>

            <div>
              <label for="color"
                >If you have example websites for theme, please share link here:</label
              >
              <div class="mt-2">
                <input type="text" name="color" id="color" required />
              </div>
            </div>

            <div>
              <label for="typewebsite"
                >Do you prefer a landing page or separate pages for each
                section?
              </label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="typewebsite"
                  id="typewebsite"
                >
                  <option value="">choose an option</option>
                  <option value="landingpage">LandingPage</option>
                  <option value="separatepages">Separate Pages</option>
                  <option value="i dont know">I don't know</option>
                </select>
              </div>
            </div>

            <div>
              <label for="menu"
                >What tabs do you want the menu bar to have?
              </label>
              <div class="mt-2">
                <textarea
                  name="menu"
                  id="menu"
                  rows="4"
                  required
                  placeholder="Share order and name of tab what would you like to have your website"
                ></textarea>
              </div>
            </div>

            <div>
              <label for="function"
                >What basic functions do you want your site to have?
              </label>
              <div class="mt-2">
                <textarea
                  name="function"
                  id="function"
                  rows="4"
                  required
                  placeholder="for example, contact form, newsletter form, etc."
                ></textarea>
              </div>
            </div>

            <div>
              <label for="script"
                >If you have script already, please upload here:</label
              >
              <div class="mt-2">
                <input type="file" name="script" id="script" required />
              </div>
            </div>

            <div>
              <label for="otherneeds"
                >Please list other general tech support needs here, if any
              </label>
              <div class="mt-2">
                <textarea
                  name="otherneeds"
                  id="otherneeds"
                  rows="4"
                  required
                  placeholder="Like network, fix or maintenance computer, etc."
                ></textarea>
              </div>
            </div>

            <div>
              <label for="message">Message</label>
              <div class="mt-2">
                <textarea
                  name="message"
                  id="message"
                  rows="4"
                  required
                  placeholder="Let us know if you have any allergies, or have a specific table in mind"
                ></textarea>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Photography & Storytelling</legend>

            <div>
              <label for="photoStory">Do you need Photo/storytelling support</label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="photoStory"
                  id="photoStory"
                  required
                >
                  <option value="">choose an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="i dont know">I don't know</option>
                </select>
              </div>
            </div>

            <div>
              <label for="photoStory">What kind of service? </label>
              <div class="mt-2">
                <select
                  class="w-full appearance-auto rounded-md bg-white py-4 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-brand-green sm:text-sm/6"
                  name="photoStory"
                  id="photoStory"
                  required
                >
                  <option value="yes">Photo</option>
                  <option value="no">Storytellings</option>
                  <option value="i dont know">Both</option>
                </select>
              </div>
            </div>
            
            <div class="pt-5">
              <p class="font-bold">If need photography, click all that apply</p>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="event" id="event" required />
                <label for="event" class="!inline-block pl-5">Specific Event</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="candids" id="candids" required />
                <label for="candids" class="!inline-block pl-5">Candids of Ministry</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="portraits" id="portraits" required />
                <label for="portraits" class="!inline-block pl-5">Portraits (staff, families, etc.)</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="facility" id="facility" required />
                <label for="facility" class="!inline-block pl-5">Facility</label>
              </div>
            </div>

            <div class="pt-5">
              <p class="font-bold">If need photography, click all that apply</p>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="blog" id="blog" required />
                <label for="blog" class="!inline-block pl-5">Blog Update</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="newsletter" id="newsletter" required />
                <label for="newsletter" class="!inline-block pl-5">Newsletters</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="interviewing" id="interviewing" required />
                <label for="interviewing" class="!inline-block pl-5">Interviewing for testimonials</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="media" id="media" required />
                <label for="media" class="!inline-block pl-5">Social Media</label>
              </div>
              <div class="mt-2">
                <input type="checkbox" class="!inline-block !w-auto" name="script" id="script" required />
                <label for="script" class="!inline-block pl-5">Script</label>
              </div>
            </div>
          </fieldset>

          <div>
            <button type="submit" class="button button-green group px-8!">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 -rotate-45 -mt-1 inline-block mr-1 group-hover:rotate-0 transition duration-300"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                ></path>
              </svg>
              Send
            </button>
          </div>
        </div>
      </form>
    </section>

    <Section class:list={"container py-1 lg:py-1"} contain={false}>
      <Newsletter />
    </Section>
  </Section>
</Layout>
