---
import { Picture } from "astro:assets";
const { title, excerpt, featuredImage, date, slug } = Astro.props;
---
<div slot="grid-content-1">
  <div class="flex flex-col items-center prose text-center">
    <Picture
      class:list={"not-prose w-full h-auto gridImg"}
      src={featuredImage}
      formats={["avif", "webp"]}
      alt={title}
    />
    <h3 class="h4 mt-0 font-black">{title}</h3>
    <p>
      {excerpt}
    </p>
  </div>
</div>
