---
import pray from '~/assets/getinvolved/pray.webp';
import give from '~/assets/getinvolved/give.webp';
import share from '~/assets/getinvolved/sharing.webp';
import { Picture } from 'astro:assets';
---
    <div class="text-center mb-20">
      <h1 class="font-black h1 mb-3">Get Involved</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">If you would like to get involved with what Missionary Tech Support is doing, here are three ways to support:</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-brand-green inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-brand-green mb-5 flex-shrink-0">
          <!-- imagen de orar -->
<!-- <svg fill="#000000" height="800px" width="800px" class="w-10 h-10" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 512.026 512.026" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M98.142,337.318l-60.723,35.046c-4.079,2.355-5.478,7.569-3.123,11.657c1.579,2.739,4.446,4.267,7.398,4.267
				c1.442,0,2.91-0.367,4.258-1.143l60.723-35.038c4.079-2.355,5.478-7.578,3.123-11.657
				C107.443,336.363,102.221,334.963,98.142,337.318z"/>
			<path d="M119.475,256.021c0-4.71-3.823-8.533-8.533-8.533L8.533,247.479c-4.71,0-8.533,3.823-8.533,8.533
				c0,4.719,3.823,8.533,8.533,8.533l102.409,0.009C115.652,264.555,119.475,260.732,119.475,256.021z"/>
			<path d="M146.236,82.948c1.579,2.739,4.446,4.267,7.398,4.267c1.442,0,2.918-0.367,4.258-1.143
				c4.079-2.355,5.478-7.578,3.123-11.656l-21.35-36.983c-2.364-4.079-7.586-5.487-11.657-3.123
				c-4.087,2.355-5.478,7.578-3.123,11.657L146.236,82.948z"/>
			<path d="M37.427,139.669l86.315,49.852c1.34,0.776,2.807,1.143,4.258,1.143c2.953,0,5.82-1.527,7.398-4.267
				c2.355-4.079,0.964-9.301-3.123-11.648l-86.315-49.86c-4.07-2.364-9.31-0.964-11.656,3.123
				C31.949,132.092,33.34,137.314,37.427,139.669z"/>
			<path d="M376.619,186.398c1.579,2.739,4.446,4.267,7.398,4.267c1.442,0,2.91-0.367,4.258-1.143l86.332-49.835
				c4.087-2.364,5.478-7.578,3.123-11.665c-2.355-4.079-7.578-5.478-11.657-3.123l-86.332,49.843
				C375.654,177.097,374.263,182.319,376.619,186.398z"/>
			<path d="M354.142,86.071c1.348,0.777,2.816,1.143,4.258,1.143c2.953,0,5.82-1.527,7.398-4.267l21.35-36.983
				c2.355-4.079,0.956-9.301-3.123-11.657c-4.096-2.364-9.301-0.956-11.657,3.123l-21.35,36.983
				C348.664,78.494,350.054,83.716,354.142,86.071z"/>
			<path d="M344.038,495.381c-0.23-0.077-23.868-8.073-39.33-23.535c-15.326-15.326-23.1-30.524-23.1-45.167v-153.6
				c0-1.749,0.358-17.067,12.8-17.067c9.156,0,12.774,17.741,12.826,17.732l8.533,110.925c0.358,4.685,4.395,8.235,9.165,7.851
				c4.693-0.358,8.218-4.463,7.851-9.165l-8.627-111.684c-2.022-12.151-10.564-32.725-29.747-32.725
				c-23.629,0-29.867,22.332-29.867,34.133v153.6c0,19.337,9.455,38.588,28.1,57.233c18.278,18.287,44.877,27.29,46.003,27.665
				c0.896,0.299,1.809,0.435,2.696,0.435c3.576,0,6.904-2.261,8.098-5.837C350.933,501.705,348.51,496.875,344.038,495.381z"/>
			<path d="M217.609,238.946c-19.183,0-27.725,20.574-29.841,33.476l-8.533,110.933c-0.367,4.702,3.157,8.806,7.851,9.165
				c4.608,0.35,8.806-3.157,9.165-7.851l8.439-110.182c0.034-0.188,3.661-18.475,12.919-18.475c12.006,0,12.774,14.251,12.8,17.067
				v153.6c0,14.643-7.774,29.841-23.1,45.167c-15.377,15.377-39.108,23.458-39.339,23.543c-4.463,1.502-6.878,6.332-5.385,10.795
				c1.195,3.567,4.523,5.828,8.09,5.828c0.896,0,1.801-0.145,2.697-0.435c1.126-0.375,27.725-9.378,46.003-27.665
				c18.645-18.645,28.1-37.897,28.1-57.233v-153.6C247.475,261.278,241.237,238.946,217.609,238.946z"/>
			<path d="M491.529,496.653l-102.494-76.868c-5.402-3.942-11.247-17.894-13.653-28.501l-25.677-171.076
				c-1.86-9.318-3.618-18.33-5.316-26.999c-15.223-77.901-24.414-124.928-54.246-124.928c-17.946,0-25.6,7.654-25.6,25.6
				c0,17.195,8.209,124.109,8.559,128.657c0.358,4.685,4.471,8.209,9.165,7.851c4.693-0.358,8.218-4.463,7.851-9.165
				c-0.085-1.109-8.508-110.797-8.508-127.343c0-8.533,0.162-8.533,8.533-8.533c15.778,0,26.325,53.982,37.504,111.138
				c1.69,8.687,3.456,17.724,5.257,26.658l25.711,171.281c0.674,2.97,6.938,29.363,20.275,39.083l102.4,76.8
				c1.536,1.152,3.336,1.707,5.111,1.707c2.594,0,5.163-1.178,6.835-3.413C496.06,504.828,495.3,499.477,491.529,496.653z"/>
			<path d="M466.057,387.162c1.348,0.777,2.816,1.143,4.258,1.143c2.953,0,5.82-1.527,7.398-4.267
				c2.355-4.079,0.964-9.301-3.123-11.657l-60.715-35.063c-4.096-2.355-9.301-0.956-11.657,3.132
				c-2.355,4.079-0.964,9.293,3.123,11.657L466.057,387.162z"/>
			<path d="M503.492,247.497H401.075c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h102.417
				c4.71,0,8.533-3.814,8.533-8.533C512.026,251.319,508.203,247.497,503.492,247.497z"/>
			<path d="M264.542,8.546c0-4.71-3.823-8.533-8.533-8.533s-8.533,3.823-8.533,8.533v25.6c0,4.71,3.823,8.533,8.533,8.533
				s8.533-3.823,8.533-8.533V8.546z"/>
			<path d="M221.875,68.279c-29.833,0-39.023,47.027-54.246,124.928c-1.698,8.67-3.456,17.681-5.393,27.409L136.61,391.479
				c-1.348,10.624-7.97,24.738-13.722,28.373l-102.4,76.8c-3.772,2.825-4.531,8.175-1.707,11.947
				c1.673,2.236,4.241,3.413,6.835,3.413c1.775,0,3.575-0.555,5.111-1.707l101.803-76.39c11.785-7.364,19.507-28.399,20.983-40.107
				l25.523-170.257c1.877-9.344,3.644-18.381,5.333-27.068c11.179-57.156,21.726-111.138,37.504-111.138
				c8.371,0,8.533,0,8.533,8.533c0,16.546-8.422,126.234-8.508,127.343c-0.367,4.702,3.157,8.806,7.851,9.165
				c4.642,0.35,8.798-3.157,9.165-7.851c0.35-4.548,8.559-111.462,8.559-128.657C247.475,75.934,239.821,68.279,221.875,68.279z"/>
		</g>
	</g>
</g>
</svg> -->
        <Picture
                class="w-full object-cover"
                src={pray}
                alt="Image about pray, invited to pray for our mission to support SE Asia"
                title="Pray for our mission"
              />
            
        </div>
        <div class="flex-grow">
          <h2 class="text-brand-green text-xs title-font font-medium mb-3 h2Text">Pray</h2>
          <p class="leading-relaxed text-base">We would love if you would join us in prayer over each ministry we will serve. Pray for safe travels for our team, pray that the Lord continues to make His path for us clear, and pray that He will prepare the hearts of each person we encounter.</p>
          <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More -->
            <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg> -->
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <!-- imagen de dar -->
          <!-- <svg fill="#000000" width="800px" height="800px" class="w-10 h-10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 21h9.62a3.995 3.995 0 0 0 3.037-1.397l5.102-5.952a1 1 0 0 0-.442-1.6l-1.968-.656a3.043 3.043 0 0 0-2.823.503l-3.185 2.547-.617-1.235A3.98 3.98 0 0 0 9.146 11H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2zm0-8h5.146c.763 0 1.448.423 1.789 1.105l.447.895H7v2h6.014a.996.996 0 0 0 .442-.11l.003-.001.004-.002h.003l.002-.001h.004l.001-.001c.011.003.003-.001.003-.001.012 0 .002-.001.002-.001h.001l.002-.001.003-.001.002-.001.002-.001.003-.001.002-.001.002-.001.003-.002.002-.001.002-.001.003-.001.002-.001h.001l.002-.001h.001l.002-.001.002-.001c.011-.001.003-.001.003-.001l.002-.001a.915.915 0 0 0 .11-.078l4.146-3.317c.261-.208.623-.273.94-.167l.557.186-4.133 4.823a2.029 2.029 0 0 1-1.52.688H4v-6zm9.761-10.674C13.3 2.832 11 5.457 11 7.5c0 1.93 1.57 3.5 3.5 3.5S18 9.43 18 7.5c0-2.043-2.3-4.668-2.761-5.174-.379-.416-1.099-.416-1.478 0zM16 7.5c0 .827-.673 1.5-1.5 1.5S13 8.327 13 7.5c0-.708.738-1.934 1.5-2.934.762 1 1.5 2.226 1.5 2.934z"/></svg> -->
           <Picture
                class="w-full object-cover"
                src={give}
                alt="Image about Give, invited to make a donation to support our mission in SE Asia"
                title="Pray for our mission"
              />
        </div>
        <div class="flex-grow">
          <h2 class="text-brand-green text-lg title-font font-medium mb-3 h2Text">Give</h2>
          <p class="leading-relaxed text-base">We are currently fundraising to make this calling a reality. Please consider making a tax-deductible donation so we can continue our impact. You can also choose to donate to one of the ministries we have worked with in the past via this page. </p>
          <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More -->
            <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
          
              </svg> -->
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <!-- imagen de compartir la Palabra -->
           <!-- <svg fill="#000000" width="800px" height="800px" class="w-10 h-10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9,14a4,4,0,1,0-4-4A4,4,0,0,0,9,14ZM9,8a2,2,0,1,1-2,2A2,2,0,0,1,9,8ZM6,15h6a4,4,0,0,1,4,4v2a1,1,0,0,1-2,0V19a2,2,0,0,0-2-2H6a2,2,0,0,0-2,2v2a1,1,0,0,1-2,0V19A4,4,0,0,1,6,15Zm11.462-5A5.977,5.977,0,0,1,15.7,14.253a1,1,0,0,1-1.414-1.414,4.015,4.015,0,0,0,0-5.678A1,1,0,1,1,15.7,5.747,5.977,5.977,0,0,1,17.462,10Zm-.181,7.7a1,1,0,0,1,.024-1.414,8.667,8.667,0,0,0,0-12.562A1,1,0,0,1,18.7,2.281a10.667,10.667,0,0,1,0,15.438,1,1,0,0,1-1.414-.024Z"/></svg>-->

        <Picture
                class="w-full object-cover"
                src={share}
                alt="Image about pray, invited to pray for our mission to support SE Asia"
                title="Pray for our mission"
              />

        </div>            
        <div class="flex-grow">
          <h2 class="text-brand-green text-sm title-font font-medium mb-3 h2Text">Spread the Word</h2>
          <p class="leading-relaxed text-base">One of our main goals is to share stories of what God is doing overseas to inspire others to believe that He is still on the move. Share the work that we are doing with your friends, your family, your church, your dentist, your Uber driver, anyone and everyone. </p>
          <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More -->
            <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg> -->
          </a>
        </div>
      </div>
    </div>
    <a href="https://www.givesendgo.com/missionarytechsupport" target="_blank" title="Missionary Tech Support Dontate Button" class="transition flex mx-auto mt-16 text-white bg-brand-green border-0 py-2 px-8 w-2xs focus:outline-none hover:bg-brand-green menu-item-highlighted rounded text-lg justify-center">Donate</a>
    <!-- transition text-base/6 font-semibold hover:text-brand-green menu-item-highlighted menu-item-active -->

<style>
  .h2Text{
    font-size: 2em !important;
  }
</style>