---
import pray from "~/assets/getinvolved/pray.webp";
import give from "~/assets/getinvolved/give.webp";
import share from "~/assets/getinvolved/sharing.webp";
import { Picture } from "astro:assets";
---

<div class="text-center mb-20">
  <h1 class="font-black h1 mb-3">Ways to Support</h1>
  <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">
    If you would like to get involved with what Missionary Tech Support is
    doing, here are three ways to support:
  </p>
  <div class="flex mt-6 justify-center">
    <div class="w-16 h-1 rounded-full bg-brand-green inline-flex"></div>
  </div>
</div>
<div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
  <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
    <div
      class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-brand-green mb-5 flex-shrink-0"
    >
      <Picture
        class="w-full object-cover"
        src={pray}
        alt="Image about pray, invited to pray for our mission to support SE Asia"
        title="Pray for our mission"
      />
    </div>
    <div class="flex-grow">
      <h2 class="text-brand-green text-xs title-font font-medium mb-3 h2Text">
        Pray
      </h2>
      <p class="leading-relaxed text-base">
        We would love if you would join us in prayer over each ministry we will
        serve. Pray for safe travels for our team, pray that the Lord continues
        to make His path for us clear, and pray that He will prepare the hearts
        of each person we encounter.
      </p>
    </div>
  </div>
</div>
<div class="p-4 md:w-1/3 flex flex-col text-center items-center">
  <div
    class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
  >
    <Picture
      class="w-full object-cover"
      src={give}
      alt="Image about Give, invited to make a donation to support our mission in SE Asia"
      title="Pray for our mission"
    />
  </div>
  <div class="flex-grow">
    <h2 class="text-brand-green text-lg title-font font-medium mb-3 h2Text">
      Give
    </h2>
    <p class="leading-relaxed text-base">
      We are currently fundraising to make this calling a reality. Please
      consider making a tax-deductible donation so we can continue our impact.
      You can also choose to donate to one of the ministries we have worked with
      in the past via this page.
    </p>
  </div>
</div>

<div class="p-4 md:w-1/3 flex flex-col text-center items-center">
  <div
    class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
  >
    <Picture
      class="w-full object-cover"
      src={share}
      alt="Image about pray, invited to pray for our mission to support SE Asia"
      title="Pray for our mission"
    />
  </div>
  <div class="flex-grow">
    <h2 class="text-brand-green text-sm title-font font-medium mb-3 h2Text">
      Spread the Word
    </h2>
    <p class="leading-relaxed text-base">
      One of our main goals is to share stories of what God is doing overseas to
      inspire others to believe that He is still on the move. Share the work
      that we are doing with your friends, your family, your church, your
      dentist, your Uber driver, anyone and everyone.
    </p>
  </div>
</div>

<a
  href="https://www.givesendgo.com/missionarytechsupport"
  target="_blank"
  title="Missionary Tech Support Dontate Button"
  class="transition flex mx-auto mt-16 text-white bg-brand-green border-0 py-2 px-8 w-2xs focus:outline-none hover:bg-brand-green menu-item-highlighted rounded text-lg justify-center"
  >Donate</a
>

<style>
  .h2Text {
    font-size: 2em !important;
  }
</style>
